.board-container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    margin-top: 2%;
}

.board{
    display:grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    margin: 15px;
    box-shadow: 5px 15px 35px rgb(0 0 0 / 25%);
    background-color: rgb(44, 44, 44);
}

.container h1{
    color:rgb(212, 212, 212);
    text-align:center;
    margin-bottom: 10px;
    text-shadow: 3px 3px 6px #1b1a1a;
}

.cell{
    border: 1px solid rgb(31, 31, 31);
}

.cell:hover{
    transform: scale(1.05);
}

.ai-board{
    cursor: pointer;
}

.ai-cell{
    transition: 0.1s;
}

.ai-cell:hover{
    background: whitesmoke;
}

/*gameplay colors*/
.blue{
    background: rgb(56, 218, 230);
}

.red{
    background: rgb(212, 21, 21);
}

.white{
    background: whitesmoke;
}

/*welcome message, make it responsive*/
.welcome-board{
    margin: 10% 25% auto;
    background-color: rgb(17, 17, 17);
    box-shadow: 4px 4px 7px rgb(26, 26, 26);
    width: 50%;
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    color: rgb(255, 230, 0);
    text-shadow: 2px 2px 4px black;
}

.welcome-board button{
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.welcome-board button:hover{
    background: white;
    color:rgb(17, 17, 17);
    transform: scale(1.1)
}

.welcome-board p{
    margin: 30px auto 40px;
    font-size: 20px;
}

.welcome-board ul{
    margin-top: 20px;
    display: flex;
    gap: 15%;
    align-items: center;
    justify-content: center;
    list-style: none;
}

#white-grid{
    color:whitesmoke
}
#blue-grid{
    color: rgb(5, 165, 214);
}
#red-grid{
    color:red;
}

@media only screen and (max-width: 700px){
    .welcome-board{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        margin: 5px;
    }
}