.header{
    margin-top: 5%;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.header h1{
    font-size: 40px;
    text-shadow: 2.5px 2.5px 5px #181818;
    color: rgb(212, 212, 212);
}

#git-icon{
    transition: transform .5s ease-in-out;
    background: rgb(56, 218, 230);
    border-radius: 50%;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

#git-icon:hover{
    transform: rotate(360deg);
}
